@media (max-width: 768px) {
    .stats{
        justify-content: center;
    }
}
.hero-container {
    transform: scale(80%);
    justify-content: space-between;
    align-items: flex-end;
    
}

.orange-circle {
    background: var(--orange-gradient);
}