@media (max-width: 768px){
    .h-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 99;
    }
}
.h-container {
    justify-content: space-between;
    color: var(--secondary);
    transform: scale(80%);
}

.h-menu>*:hover {
    cursor: pointer;
}